//public varaibles in cass using with @import in scss file 
$super-background-color:darkblue;
$second-background-color:rgba(255, 255, 0, 0.516);
//color of font and other things ...
$super-color:white;
$second-color:black;
$sup-font-color:rgba(255, 255, 255, 0.712);
//font type or you can choose with your kind of font type 
$super-font:tahoma;
$second-font:cursive;
//kind of sizing or other things s
$super-size:60px;
$second-size:40px;
//another thing ... 